@page
@model KnitTest.Pages.OTP.GetOTPModel
@{
}

<div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Enter your email">
    <button type="button" id="submit">Get OTP</button>
</div>
<div id="modal" class="form-group" hidden>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="otpcode" placeholder="Enter OTP code">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#submit").click(function () {
            $.ajax({
                url: "https://localhost:7272/otp/getotp",
                method: "post",
                data: {
                    "email": $("#email").val(),
                },
                success: function (result) {
                    console.log(result);
                    if (result.includes("invalid")) {
                        alert(result);
                    }
                    else {
                        $("#exampleModal").modal("show");
                    }
                }
            })
        });

        var retry = 1;
        $("#otpcode").keyup(function () {
            console.log(retry);
            var otp = $("#otpcode").val();
            console.log(otp);
            if (otp.length > 5) {
                $.ajax({
                    url: "https://localhost:7272/otp/checkotp",
                    method: "post",
                    data: {
                        "otpcode": otp,
                        "email": $("#email").val(),
                        "attempts": retry
                    },
                    success: function (result) {
                        console.log(result);

                        if (result.includes("retry")) {
                            retry++;
                            alert(result);
                        }
                        if (result.includes("timeout") || retry == 10) {
                            alert("Your OTP is timeout");
                        }
                    }
                });
            }
        });

    </script>
}
